* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f6f8;
}

.photo-gallery {
    display: flex;
    flex-direction: row;

    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;

    justify-content: center;
}

.column1,
.column2,
.column3 {
    display: flex;
    flex-direction: column;

    width: 33.3%;
    
    gap: 10px;

}

.column1 > img,
.column2 > img,
.column3 > img {
    width: 100%;
    object-fit: cover;
}

.imageBox {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 100%;
}

.imageBox > img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.description {
    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;
    height: 25px;

    background-color: #dfdfdf;
}

.description > h5, p {
    margin-left: 3px;
    margin-right: 3px;
}

.description > h5 {
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 1px;
}

.tags {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-bottom: 1px;

    font-size: 13px;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .column2,
    .column3 {
        display: none;
    }

    .column1 {
        width: 100%;
        height: 100%;
    }
}